<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImagePocket</title>
   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap-multiselect.css" rel="stylesheet">
    <!-- Optional theme -->
    <style>
        .activated {
            background-color: #b9b2b2;
        }

        #myModalEdit .modal-dialog {
            width: 100%;
        }
        body {
            padding-top: 50px;
        }
    </style>



</head>
<body style="background-color: #050125">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ImagePocket</a>
            </div>
            <div class="navbar-collapse collapse panel-info">

                <ul class="nav navbar-nav">


                    <li><a href="/">Home</a></li>
                    <li id="pasteLink" class="active"><a href="/pastes">Pastes</a></li>
                    <li id="pageLink"><a href="/Pages">Pages</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register" id="registerLink">Register</a></li>
                    <li><a href="/Account/Login" id="loginLink">Log in</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            <div class=" col-xs-8" style="color: white" id="bodyblock">

                <br />

                <h3>Saved Pastes </h3>
                <hr />



                <div class="panel-group" id="menu2" data-bind=" foreach: filteredPastes">

                    <div class="panel panel-default singleObj" style="overflow: visible" data-bind="event:{mouseenter: $parent.mouseEnter, mouseleave: $parent.mouseLeave}">
                        <div class="panel-heading heading  clicked" data-bind="click: $parent.openRecord ">
                            <div style="display: inline-block; cursor: pointer;" data-toggle="collapse" data-bind="attr: { 'data-target': '#text_' + id}">
                                <h4 class="info-line" style="display: inline-block" data-bind="text: name"> </h4>
                            </div> <span hidden style="cursor: pointer" class="glyphicon glyphicon-remove pull-right" data-bind="click: $parent.removeRecord"></span> <span hidden class="glyphicon glyphicon-edit pull-right" data-bind="click: $parent.changePaste" style=" margin-right 1%; cursor:pointer"></span>
                            <div class="dropdown pull-right " style="margin-right: 1%; cursor:pointer">
                                <span class="  glyphicon glyphicon-tag " id="dropdownMenu1" aria-expanded="true" hidden data-bind="click: $parent.enableEditModal"> </span>


                            </div>
                            <p style="margin-right: 2%" class=" pull-right date" data-bind="text: dateString.toLocaleString()"></p>
                        </div>

                        <div class='collapse panel-collapse' style="overflow-x: scroll; " data-bind="attr: { 'id': 'text_' + id}">
                            <div class='innerDivs panel-body ' style="position: relative; max-width:65%; color: black;  width: auto; white-space:nowrap; background-color: rgba(216, 216, 216, 0.98)" data-first="true" data-bind="html: innerText"></div>
                        </div>
                    </div>

                </div>

                <div id="myModal" class="modal fade" style="color: black">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Tags editing</h4>
                            </div>
                            <div class="modal-body" id="myModalBody" style="height: 700px">

                                <div class="form-group form-inline">
                                    <input id="modalAuto" type="text" class="typeahead form-control" placeholder="Enter new Tag" data-provide="typeahead" data-bind=" value : tagEditModal.inputText">
                                    <button class="btn btn default" id="addButton" data-bind=" click: addNewActive"> Add</button>
                                </div>
                                <div role="menu" aria-labelledby="dropdownMenu1" style="padding: 2%; color: black" data-bind=" foreach: tagEditModal.activeTags()">
                                    <h5><span class="text" data-bind="text: name"></span><span style="cursor: pointer" data-bind=" css : {'glyphicon-remove': isValid(), 'glyphicon-plus' : !isValid()}, click: $parent.toogleValid" class="glyphicon pull-right"></span></h5>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="modalSubmit" data-bind="click: submitTagChange">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModalEdit" class="modal fade" style="color: black">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Paste editor</h4>

                                <input id="editName"/>

                            </div>
                            <div class="modal-body" id="myModalEditBody" style="height: 700px">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="modalSubmit">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>



                <br />
                <br />
                <hr />
            </div>
            <nav class="col-xs-4">
                <br />
                <br />
                <div style="position: fixed; color: white; margin-left: 1%;" id="sidebar" >
                    <h4>Filters</h4>
                   

                        <select id="pasteFilters" multiple="true" class="form-control" name="pasteFilters" data-bind="options: allTagsNames, selectedOptions: selectedTags"></select>

                        <br />

                  
                </div>
            </nav>
        </div>

        <footer style="color: white">
            <p>&copy; 2015 - Andrii Skolotianyi</p>
        </footer>
    </div>

    <!-- Latest compiled and minified CSS -->
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/Scripts/bootstrap-multiselect.js"></script>
    <script src="/Scripts/typeahead.js"></script>
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="/Scripts/knockout-3.3.0.js"></script>
    <script src="/Scripts/knockout-3.3.0.debug.js"></script>
    <script src="/Scripts/PasteViewModel.js"></script>
    <script src="/Scripts/paste.js"></script>
   
</body>
</html>
