<div class=" col-xs-9" style="color: white" id="bodyblock">

    <div class="jumbotron" style="background-color: #a3a3a3">
        <h1>Image Pocket</h1>
        <p class="lead">Image pocket is a free web service you can use to load and store pastes, screenshot, notes</p>
        <p><a href="/Account/Login" class="btn btn-primary btn-large">Sign up &raquo;</a></p>
    </div>


    <br />
    <br />
    <hr />
</div>
<nav class="col-xs-3">
    <br />
    <br />
    <div style="position: fixed; color:white; margin-left: 1%;" id="sidebar">

    </div>
</nav>